.container {
  max-width: 900px;
  height: 490px;
  margin: 20px auto;
  padding: 10px;
  background-color: #182a4e;
  border-radius: 10px;

  .title {
    font-size: 3rem;
    font-weight: 400;
    color: #fff;
  }
}
